<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Home View</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
       
    </head>

    <body>

        <div borderleft="25%" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/subject">Subjects</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/student">Students</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Register</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/newStudent">New Student</a></li>
                          <li><a class="dropdown-item" href="/newSubject">New Subject</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                          <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>

        </div>

    </body>

</html>