<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Student Manager</title>
    </head>

    <body>
        <div align="center">

            <h1>Student Manager</h1>

            <table>
                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Name</th>
                        <th>cpf</th>
                        <th>birth</th>
                    </tr>
                </thead>
            </table>

        </div>
    </body>


</html>
