<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Student Manager</title>
       
    </head>

    <body>
        <div align="center">

            <h1>Student Manager</h1>
            <a href="new"> Add New Student</a>
            <br/><br/>

            <table border="1" cellpadding="10" >
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>CPF</th>
                        <th>Birth</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student : ${listStudents}">
                        <td th:text = "${student.id}">Student ID</td>
                        <td th:text = "${student.name}">Name</td>
                        <td th:text = "${student.cpf}"> CPF</td>
                        <td th:text = "${student.birth}"> Birth</td>
                        <td>
                            <a th:href="@{'/edit/'+ ${student.id}}">Edit</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/delete/' + ${student.id}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>


</html>
